// SPDX-FileCopyrightText: 2024 Kartoza <info@kartoza.com>
// SPDX-License-Identifier: MIT

// Package {{PACKAGE}} provides functionality for...
// TODO: Add package description.
package {{PACKAGE}}

// Example is a sample exported function.
// TODO: Implement your package functionality.
func Example() string {
	return "Hello from {{PACKAGE}}"
}
